extend layout

block styles
  //- lib 
  link(rel="stylesheet", href="assets/css/rg-gallery-section.css")

  //- app
  
  //- sections
  link(rel="stylesheet", href="assets/css/sections/brianne.css")
  link(rel="stylesheet", href="assets/css/sections/calendar.css")
  link(rel="stylesheet", href="assets/css/sections/cloudshare.css")
  link(rel="stylesheet", href="assets/css/sections/design.css")
  link(rel="stylesheet", href="assets/css/sections/desktop.css")
  link(rel="stylesheet", href="assets/css/sections/docnet.css")
  link(rel="stylesheet", href="assets/css/sections/fluteposter.css")
  link(rel="stylesheet", href="assets/css/sections/grado.css")
  link(rel="stylesheet", href="assets/css/sections/jdeis.css")
  link(rel="stylesheet", href="assets/css/sections/mobile.css")
  link(rel="stylesheet", href="assets/css/sections/party.css")
  link(rel="stylesheet", href="assets/css/sections/sevenevents.css")
  link(rel="stylesheet", href="assets/css/sections/typeposter.css")
  link(rel="stylesheet", href="assets/css/sections/zapffrutiger.css")

  link(rel="stylesheet", href="assets/css/responsive-gallery.css")

block scripts
  //- lib
  script(src="app/lib/rg-gallery-section/index.js")
  script(src="app/lib/common/Transition.js")
  script(src="app/lib/common/Scroll.js")
  script(src="app/lib/rg-gallery-section/rgSection.js")
  script(src="app/lib/rg-gallery-section/rgCarousel.js")
  script(src="app/lib/rg-gallery-section/rgSlide.js")

  //- app
  script(src="app/app.js")
  script(src="app/ResponsiveGalleryCtrl.js")


block content
  body.rg-body

    div(class="rg-banner")
      div(class="rg-logo") Responsive Gallery


    div(class="rg-container container", ng-app="responsive-gallery", ng-controller="ResponsiveGalleryCtrl")

      //- Mobile
      rgsection(
        class="rg-mobile",
        auto-increment="mobile.autoIncrement", 

        anchor-id="{{mobile.anchorId}}",

        description-class="mobile.description.cls",
        description-title="mobile.description.title",
        description-subtitle="mobile.description.subtitle",
        description-text="mobile.description.text",

        slides="mobile.slides"
      )

      //- Desktop
      rgsection(
        scroll
        class="rg-desktop",
        auto-increment="desktop.autoIncrement", 

        anchor-id="{{desktop.anchorId}}",

        description-class="desktop.description.cls",
        description-title="desktop.description.title",
        description-subtitle="desktop.description.subtitle",
        description-text="desktop.description.text",

        slides="desktop.slides"
      )
